.page-banner{
    position: relative;
    padding: 120px 0;
    overflow: hidden;
    background: url("/HomeImages/About/Banner.png") center center/cover no-repeat;
}

.banner-overlay{
    position:absolute;
    inset:0;
   
}

.page-banner .container{
    position:relative;
    z-index:2;
}

.banner-content{
    max-width:900px;
    margin:auto;
    text-align:center;
    padding:55px;
    border-radius:24px;

   
    backdrop-filter:blur(6px);

    border:1px solid rgba(255,255,255,.18);

  
}

.banner-tag{
    display:inline-block;
    background:#F97316;
    color:#fff;
    padding:10px 22px;
    border-radius:50px;
    font-size:14px;
    font-weight:600;
    letter-spacing:.5px;
    margin-bottom:25px;
}

.page-banner-title{
    color:#fff;
    font-size:54px;
    font-weight:800;
    line-height:1.2;
    margin-bottom:20px;
}

.page-banner-title span{
    display:block;
    color:#FBBF24;
}

.page-banner p{
    color:rgba(255,255,255,.9);
    font-size:18px;
    line-height:1.9;
    margin-bottom:18px;
}

.page-banner strong{
    color:#FDBA74;
}

.page-banner::before{
    content:"";
    position:absolute;
    width:300px;
    height:300px;
    border-radius:50%;
    background:rgba(249,115,22,.18);
    top:-120px;
    left:-80px;
    filter:blur(40px);
}

.page-banner::after{
    content:"";
    position:absolute;
    width:260px;
    height:260px;
    border-radius:50%;
    background:rgba(255,255,255,.08);
    bottom:-100px;
    right:-80px;
    filter:blur(35px);
}

@media(max-width:768px){

    .page-banner{
        padding:80px 0;
    }

    .banner-content{
        padding:30px;
    }

    .page-banner-title{
        font-size:36px;
    }

    .page-banner p{
        font-size:16px;
    }
}